@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.card-container {
		@apply p-4 m-2 shadow-lg rounded bg-white hover:shadow-xl;
	}
}

@layer utilities {
	.scroll-x-bar::-webkit-scrollbar {
		height: 8px;
	}
	.scroll-x-bar::-webkit-scrollbar-track {
		background-color: #e4e4e4;
		border-radius: 100px;
	}
	.scroll-x-bar::-webkit-scrollbar-thumb {
		background-color: #c1c1c1;
		border-radius: 100px;
	}
	.scroll-y-bar::-webkit-scrollbar {
		width: 8px;
	}
	.scroll-y-bar::-webkit-scrollbar-track {
		background-color: #e4e4e4;
		border-radius: 100px;
	}
	.scroll-y-bar::-webkit-scrollbar-thumb {
		background-color: #c1c1c1;
		border-radius: 100px;
	}
}
